* {
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
body {
    max-width: 1024px;
    font-size: 20px;
    margin: 0px auto 0px auto;
}
.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
    background-color: rgb(225, 238, 235);
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.06);
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
li {
    list-style: none;
   
}
li a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 15px;
    letter-spacing: 0.5px;
    font-size: 18px;
}
li a:after {
    content: "";
    position: absolute;
    background-color:rgb(8, 113, 113) ;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}
li a:hover {
   font-weight: bold;
   color: rgb(17, 132, 94);
}

li a:hover::after {
    width: 100%;
}


.offer {
    background-image: url(./hero4.png);
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 80px 0px 80px;
    font-family: Spartan,sans-serif;
    
    transition: height 3s;
    transform: 3s; 
    
}
.offer:hover {
    height: 700px;
}
.offer h4 {
    font-size: 20px;
    color: rgb(17, 17, 17);
    padding-bottom: 15px;
}
.offer h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
.offer h1 {
    font-size: 50px;
    line-height: 64px;
    color: rgba(9, 153, 153, 0.938);
}
.offer p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0px;
}
.offer button{
    background-image: url(./button.png);
    padding: 14px 80px 14px 65px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px;
    color: rgb(2, 85, 85);
    font-weight: 800;
    animation-name: offer;
    animation-iteration-count: infinite;


    
}
.offer button:active {
    background-color: rgb(170, 217, 201);
}
.container1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding-top: 40px;
   
}
.container1 div {
    border: 0.2px solid rgb(223, 202, 202);
    padding: 20px;
    border-radius: 10px;
    transition: 0.7s;
}
.container1 div:hover {
    background-color: #92ab1242;
  
}
.container1 h6{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(6, 107, 107);
    border: 0.5px solid rgb(209, 198, 198);
    background-color: rgba(198, 142, 68, 0.222);
    border-radius: 100px;
}
.product {
    padding-top: 40px;
    text-align: center;
    font-family:sans-serif;
     
}
.product h1{
    font-size: 50px;
    line-height: 90px;
}
.product p {
    color: #465b529d;
    font-size: 17px;
    padding-bottom: 40px;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.container2 img {
    width: 220px;
}
.container2 div {
    border: 0.2px solid rgb(234, 225, 225);
    border-radius: 10px;
    padding: 5px 5px 5px 70px;
}
.container2 div:hover {
    background-color: #465b5247;
}
.container2 span {
    color: #465b5291;
    font-size: 12px;
}
.container2 h5 {
    padding-top: 7px;
    font-size: 14px;
    color: #1a1a1a;
    
}
.container2 i {
    font-size: 12px;
    color: goldenrod;

}
.container2 a i {
    float: right;
    font-size: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #1a1a1a;
}
.container2 a i:active {
    background-color: #465b526f;
}

 /* @media (max-width:768px) {
      .navbar {
        position: fixed;
        top: 70px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        display: block;
        text-align: center;
      }
      .navbar li {
         margin: 25px 0;
      }  
      .navbar li a {
        font-size: 20px;
        
      }   
}  */
.banner {
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-image: url(./b2.jpg);
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 40vh;
    width:100%;
    background-position: center;
}
.banner h4 {
    padding-top: 40px;
    font-size: 17px;
    color: #fff;
}
.banner h2 {
    color: #fff;
    padding-top: 20px;
    font-size: 30px;
}
.banner span {
    color: maroon;
}
.button1 {
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s;
   
}
.button1:hover {
    background-color: rgba(48, 243, 178, 0.624);
    color: white;
}
.heading {
    text-align: center;
    margin: 70px 0 0 0;
}
.heading h1 {
    font-size: 50px;
    line-height: 60px;
}
.heading p {
    color: #687e74b9;
    font-size: 20px;
    line-height: 40px;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 70px;
    
    
}
.container3 div {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgba(180, 171, 171, 0.464);
}
.container3 img{
    width: 230px;
}
.container3 div:hover {
    background-color: #465b5247;
}
.container3 span {
    color: #465b5291;
    font-size: 12px;
}
.container3 h5 {
    padding-top: 7px;
    font-size: 14px;
    color: #1a1a1a;
    
}
.container3 i {
    font-size: 12px;
    color: goldenrod;

}
.container3 a i {
    float: right;
    font-size: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #1a1a1a;
}
.container3 a i:active {
    background-color: #465b526f;
}
.image2 {
    display: flex;
    padding: 40px 70px 40px 70px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
}
.girl1 {
    display: flex;
    flex-direction: column;
    background-image: url(./b17.jpg);
    background-size: cover;
    justify-content: center;
    height: 40vh;
    min-width: 840px;
    padding: 30px 30px 30px 30px;
    text-align: center;
    align-items: flex-start;
}
.girl1 h4 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.girl1 h2{
    color: white;
    font-size: 28px;
    font-weight: 900;
    line-height: 54px;
}
.girl1 span {
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 16px;

}
.learn {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px 11px 18px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.2s ease;
}
.learn:active {
    background-color: rgba(22, 56, 22, 0.579);
}
.image3 {
    display: flex;
    flex-direction: column;
    background-image: url(./b10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    height: 40vh;
    min-width: 840px;
    padding: 30px 30px 30px 30px;
    text-align: center;
    align-items: flex-start;
    
}
.image3 h4 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.image3 h2{
    color: white;
    font-size: 28px;
    font-weight: 900;
    line-height: 54px;
}
.image3 span {
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 16px;
}
.learn {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px 11px 18px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.2s ease;
}
.learn:active {
    background-color: rgba(22, 56, 22, 0.579);
}
.banner97 {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 5px;
}
.divc {
    display: flex;
    flex-direction: column;
    background-image: url(./b7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-position: center;
    height: 30vh;
    margin-bottom: 20px;
    min-width: 30%;
    padding: 30px 30px 30px 30px;
}
.divc h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}
.divc h3 {
    color: rgba(196, 14, 45, 0.853);
    font-weight: 800;
    font-size: 15px;
}
.divd {
    display: flex;
    flex-direction: column;
    background-image: url(./b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-position: center;
    height: 30vh;
    margin-bottom: 20px;
    min-width: 350px;
    padding: 30px 30px 30px 0px;
}
.divd h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}
.divd h3 {
    color: rgba(196, 14, 45, 0.853);
    font-weight: 800;
    font-size: 15px;
    text-align: center;
}
.dive {
    display: flex;
    flex-direction: column;
    background-image: url(./b18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-position: center;
    height: 30vh;
    margin-bottom: 20px;
    min-width: 30%;
    padding: 30px 30px 30px 30px;
}
.dive h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}
.dive h3 {
    color: rgba(196, 14, 45, 0.853);
    font-weight: 800;
    font-size: 15px;
}
.signup {
    background-image: url(./b14.png);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: rgba(5, 5, 40, 0.835);
    margin-top: 30px;
}
.newsletter {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.newsletter h4 {
    font-size: 22px;
    color: white;
    font-weight: 700;
}
.newsletter p{
    color: #98b0a6;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 20px 0;
}
.newsletter span {
    color: rgb(192, 141, 12);
}
.form {
    display: flex;
    width: 41%;
}
.form input {
    font-size: 14px;
    width: 80%;
    height: 3rem;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    padding: 16px 16px 16px 16px;
}
.sign {
    background-color: rgba(14, 190, 108, 0.476);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 10px 15px 10px;
    border-radius: 2px;
    border: none;
    transition: 0.3s ease;
}
.sign:active {
    background-color: #184133b7;
    color: rgb(194, 236, 6);
}
.Contact1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.flex1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.flex1 img {
    margin-bottom: 30px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color: #16201d;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #16201d;
    font-weight: 500;
}
footer b {
    font-weight: bold;
}
.follow {
    margin-top: 20px;
}
.flex2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 10px 0;
    font-weight: 500;
}
.flex3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.flex4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.row img {
    border: 1px solid #088178;
    border-radius: 6px 6px 6px 6px;
    margin: 10px 0 15px 0;
}
.copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

